<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login & Sign Up</title>
</head>
<body>
<h1>Login</h1>
<form method="post" th:action="@{/login}">
    <label for="username">Username:</label>
    <input id="username" name="username" required type="text"><br><br>

    <label for="password">Password:</label>
    <input id="password" name="password" required type="password"><br><br>

    <button type="submit">Login</button>
</form>

<h1>Sign Up</h1>
<form method="post" th:action="@{/signup}">
    <label for="newUsername">Username:</label>
    <input id="newUsername" name="newUsername" required type="text"><br><br>

    <label for="newPassword">Password:</label>
    <input id="newPassword" name="newPassword" required type="password"><br><br>

    <button type="submit">Sign Up</button>
</form>
</body>
</html>